<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class="s_info_p">
        <img class="imgIcon" src="../img/imageIcon.png" alt="imagen">
        <nav class="menu">
            <a href="../index.html">Inicio</a>
        </nav>
        <h1 class="info">INFORMACION SOBRE MI</h1>
    </header>

    <main class="main-about">
        <section>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi autem suscipit pariatur dolorum eos explicabo perspiciatis aliquid doloremque eveniet officia, sapiente fugit ut!</p>
        </section>
    </main>

    <footer>
        <span>0921 - RODRIGO HUERTOS </span>
            <img class="iconos" src="../img/instagramLogo.png" alt="icon instagram"> 
            <img class="iconos" src="../img/linkedinLogo.png" alt="icon linkedin"> 
            <a href="https://github.com/XxZARKx" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
    </footer>

</body>
</html>