<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class="s_info_p">
        <img class="imgIcon" src="../img/imageIcon.png" alt="imagen">
        <nav class="menu">
            <a href="../index.html">Inicio</a>
        </nav>
        <h1 class="info">INFORMACION SOBRE MI</h1>
    </header>

    <main class="main-about">
        <section>
            <p>
                Tengo 17 años y he decidido centrar mis estudios en el apasionante mundo de la programación. Vivo en Perú y me gusta estar informado sobre las últimas tecnologías y tendencias en el mundo de la programación, y estoy decidido a hacer todo lo que esté a mi alcance para especializarme en esta área tan exigente y en constante evolución.
            </p>

            <br>

            <p>
                Actualmente estoy en diversos cursos de programación, con el objetivo de adquirir las habilidades y conocimientos necesarios para dar el salto a una carrera profesional exitosa en este campo.<br> Una de mis principales metas es convertirme en un programador experto en diversas áreas, como lenguajes de programación, desarrollo de software y diseño de sitios web. Me atrae la idea de poder trabajar en proyectos desafiantes e innovadores que me permitan poner en práctica todo lo que he aprendido, y que al mismo tiempo, me permitan seguir adquiriendo nuevas habilidades y conocimientos.
            </p>

            <br>

            <p>
                Aunque es apasionante estudiar programación, también disfruto enfocarme en mi tiempo libre en actividades que me permitan relajarme y descansar, como escuchar música o ver alguna serie. También disfruto de ver videos sobre los nuevos avances tecnológicos, y considero que esto me ayuda a mantenerme actualizado sobre las últimas tendencias en tecnología, lo que me permitirá estar mejor preparado para adaptarme rápidamente a los cambios.
            </p>

            <br>
            
            <p>
                En definitiva, mi gran pasión es la programación y agradezco la oportunidad de poder estudiar y enfocarme en esta área. Estoy seguro de que con mucho esfuerzo y dedicación lograré alcanzar mis metas profesionales y superar cualquier reto que se presente en el camino.
            </p>
        </section>
    </main>

    <footer>
        <span>0921 - RODRIGO HUERTOS </span>
            <img class="iconos" src="../img/instagramLogo.png" alt="icon instagram"> 
            <img class="iconos" src="../img/linkedinLogo.png" alt="icon linkedin"> 
            <a href="https://github.com/XxZARKx" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>
    </footer>

</body>
</html>